.file-upload {
  color: white;
  padding: 0.5em;
  border: 1px solid white;
  align-self: center;
}

.audio-player {
  color: white;
  padding-right: 8px;
  border: 1px solid white;
  align-self: center;
}

.title {
  color: white;
  font-weight: normal;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pages-input {
  height: 30px;
}

.preview {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: white;
  width: 72vh;
  height: 72vh;
}

.image-preview {
  align-self: center;
  max-height: 72vh;
  max-width: 72vh;
}

.pdf-preview {
  height: 100%;
  width: 100%;
}

.ng2-pdf-viewer-container {
  overflow-x: hidden !important;
}

.divider {
  margin-bottom: 20px;
  width: 50%;
  border-top: 3px solid white;
  border-radius: 5px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.option {
  text-align-last: center;
}

.detect-button {
  background-color: indianred;
  color: white;
  height: 36px;
}

.preview-text {
  color: black;
  align-self: center
}

.file-options {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.mat-button-toggle-label-content {
  line-height: 36px !important;
}

.mat-accent .mat-slider-track-fill {
  background-color: white !important;
}

.mat-slider-thumb-label {
  background-color: white !important;

}

.mat-slider-thumb {
  background-color: white !important;
}

.language-option, .playback-type-option {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.mat-accent .mat-slider-track-background {
  background-color: white !important;
}

.mat-accent .mat-slider-track-fill {
  background-color: indianred !important;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: white;
  background-color: indianred;
  border-color: indianred;
}

.speed-slider {
  margin-left: 10px;
}

mat-card {
  height: 48px;
}

.mat-accent .mat-slider-thumb-label-text {
  color: indianred;
}

.mat-button-disabled {
  background-color: transparent !important;
  color: gray !important;
  border: 1px solid gray !important;
}

.audio-player .mat-button-disabled {
  border: none !important;
}
